name: CI
on: push

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    services:
      postgres:
        image: postgres:11.12
        env:
          POSTGRES_DB: dev
          POSTGRES_USER: user
          POSTGRES_PASSWORD: password
        ports:
          - 5432:5432
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5

    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.7", "3.8", "3.9", "3.10", "3.11"]
        pytest-version: ["6.2.0", "7.0.0", "8.1.0"]
        pytest-asyncio-version: ["0.16.0", "0.23.0"]
        sqlalchemy-version: ["1.3.0", "1.4.0", "2.0.0"]

        exclude:
          # old versions of pytest-asyncio use old pytest hook syntax
        - pytest-version: "8.1.0"
          pytest-asyncio-version: "0.16.0"

          # new pytest versions are only 3.8 compatible
        - pytest-version: "8.1.0"
          python-version: "3.7"

          # new pytest-asyncio versions are only 3.8 compatible
        - pytest-asyncio-version: "0.23.0"
          python-version: "3.7"

    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install poetry
        uses: abatilo/actions-poetry@v3.0.0
        with:
          poetry-version: 1.2.2

      - name: Set up cache
        uses: actions/cache@v4
        with:
          path: ~/.cache/pypoetry/virtualenvs
          key: venv-${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.pytest-version }}-${{ matrix.pytest-asyncio-version }}-${{ matrix.sqlalchemy-version }}-${{ hashFiles('**/poetry.lock') }}

      - name: Install dependencies
        run: poetry run make install

      - name: Install specific versions
        run: |
          poetry run pip install 'sqlalchemy~=${{ matrix.sqlalchemy-version }}'
          poetry run pip install 'pytest~=${{ matrix.pytest-version }}'
          poetry run pip install 'pytest-asyncio~=${{ matrix.pytest-asyncio-version }}'

      - name: Run linters
        run: poetry run make lint

      - name: Run tests
        run: poetry run make test

      - name: Store test result artifacts
        uses: actions/upload-artifact@v4
        with:
          path: coverage.xml

      - name: Coveralls
        env:
          COVERALLS_FLAG_NAME: run-${{ inputs.working-directory }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          COVERALLS_PARALLEL: true
        run: |
          pip install tomli coveralls
          coveralls --service=github

  finish:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Coveralls Finished
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          pip install tomli coveralls
          coveralls --service=github --finish
